<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <h1 class="nombre"></h1> -->
    <h1 class="edad"></h1>
    <p class="nombre"></p>
    
    <script>
        fetch("https://api.giphy.com/v1/gifs/search?api_key=kr7EQC1QkOQJTzp0fv8tEMc7AE0B0hRr&q=gol&limit=5&offset=0&rating=g&lang=en")
        //fetch("http://dl-bebidas-dashboard.herokuapp.com/api/prueba")
            .then(function(response){
                return response.json();
            })
            .then(function(data){
                console.log(data[0].title);
                const nombre= document.querySelector(".nombre")
                nombre.innerText= data;
                const edad= document.querySelector(".edad")
                //edad.innerText= data.edad;
            
            })
            .catch(function(e){
                alert("Lo siento!");
            })



    </script>
</body>
</html>